<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Index</title>
</head>

<body bgcolor="lightblue">
    <center><b>
            <h1>Name is {{num}}</h1>
        </b></center>
    <hr>
    <p><i>TOPS Technologies</i> is the Most Trusted Software Training Institute in Rajkot, having tie-ups with the best IT and Job
    Placement Companies to help establish your career in the IT field. We have expert trainers and offer live project
    training courses such as <b>AspdotNet, PHP, Java, Android, Software Testing, Python, Digital Marketing, C++, Selenium,
    Website Designing, Game development, mobile app testing, React js, Node, Liferay, CodeIgniter, Hibernate, Manual,
    Automation, iOS, Struts, Angular</b> with certification. We also teach Laravel, Nodejs, Hardware, and Networking. We
    provide on-hand experience and job placement assistance. Attend a Risk-free demo today!</p>
    <hr>
    <b><h4>Technical Courses</h4></b>
    <ul type="disk">
        <li><a href="https://www.tops-int.com/python-training-course/">Python</a></li>
        <li><a href="https://www.tops-int.com/php-training-course/">PHP</a></li>
        <li><a href="https://www.tops-int.com/java-training-course/">JAVA</a></li>
        <li><a href="https://www.tops-int.com/ios-training-course/">iOS</a></li>
        <li><a href="https://www.tops-int.com/android-training-course/">Android</a></li>
    </ul>  
    <hr>
</body>

</html>